{% extends "layout.html" %}
{% set logged_in = true %}
{% block page_title %}
  Digital Marketplace
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/ur">Digital Marketplace</a></li>
        
          <li><a href="/ur/summary?step=0">Find cloud hosting, software and support</a></li>
          <li>Choose a category</li>
        
    </ol>
  </nav>
</div>

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">
	    	<h1 class="heading-xlarge">
	    	        Choose a category
	    	      </h1>

	            <form class="form" action="/ur/search?canrefine=0" method="post" style="margin-top: 30px">

	              <fieldset>

	              	
	                          <div class="multiple-choice">
	                            <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
	                            <label for="radio-1"><p class="bold">Cloud hosting</p>

	                            <p>Platform or infrastructure services for running software, networking, or processing and storing data.</p>
	                            <p class="browse-list-item-subtext">
	                                eg content delivery networks or load balancing services
	                              </p></label>

	                          </div>

	                          <div class="multiple-choice">
	                            <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
	                            <label for="radio-2"><p class="bold">Cloud software</p>

	                            <p class="browse-list-item-body">
	                                        Applications that are accessed over the internet and hosted in the cloud.
	                                      </p>
	                            <p class="browse-list-item-subtext">
	                                        eg accounting tools or customer service management software
	                                      </p>
	                            </label>
	                          </div>
	                          <div class="multiple-choice">
	                            <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
	                            <label for="radio-3"><p class="bold">Cloud support</p>

	                            <p class="browse-list-item-body">
	                                        Services to help you set up and maintain your cloud software or hosting services.
	                                      </p>
	                            <p class="browse-list-item-subtext">
	                                        eg migration services or ongoing support
	                                      </p>
	                                      </label>
	                          </div>
<p class="form-block" style="margin-top:0;margin-bottom:20px;">or</p>
	                          <div class="multiple-choice" style="margin-bottom: 20px">
	              	  <input id="radio-4" type="radio" name="radio-group" value="I am a British citizen living abroad">
	              	  <label for="radio-4"><p class="bold">All categories</p></label>
	              	</div>
	              	


	                        </fieldset>

	              <div class="form-group" style="margin-top: 20px;">
	                <input class="button button-save " type="submit" value="Search for services">
	              </div>

	            </form>
	    </div>
	</div>
</main>

{% endblock %}
