{% extends "layout.html" %}
{% set logged_in = true %}
{% block page_title %}
  Search summary (1)
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        {% if data.step == '0' %}
          <li>Find cloud hosting, software and support</li>
        {% else %}
          <li><a href="/" style="pointer-events:none">Your account</a></li>
          <li><a href="/" style="pointer-events:none">Your saved searches</a></li>
          <li>Buying some cloud software</li>
        {% endif %}
    </ol>
  </nav>
</div>

<style>
.task-list-description a {
  pointer-events: none;
}
</style>

<main id="content" role="main">

  <div class="grid-row">

      {% if data.review_flash == 1 and data.step == 4 %}
      <div class="column-full">
        <div class="banner-success-without-action">
            <p class="banner-message">
              You’ve confirmed that you understand how to assess services.
            </p>
        </div>  
      </div>
      {% endif %}
      {% if data.awarded_flash == 1 and data.step == 5 %}
      <div class="column-full">
        <div class="banner-success-without-action">
            <p class="banner-message">
              You’ve updated the outcome ‘Buying some cloud software’.
            </p>
        </div>  
      </div>
      {% endif %}
      {% if data.flash == 1 and data.step == 2 %}
      <div class="column-full">
        <div class="banner-success-without-action">
            <p class="banner-message">
              Search saved.
            </p>
        </div>  
      </div>
      {% endif %}
      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom: 20px">
          {% if data.step == '0' %}
            Find cloud hosting, software and support
            <p class="lede" style="margin-top: 20px;">
              Before you start you should <a href="#">write a list of requirements</a> and <a href="#">check if you need approval</a> to spend money.
            </p>
          {% else %}
            <span class="heading-secondary">Lewisham Council</span>
            Buying some cloud software
          {% endif %}
        </h1>
        <!-- <a href="#" class="button">Search for services</a> -->
      </div>
  </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <ol class="task-list task-list--lowercase task-list--transparent task-list--start-page task-list--short-margin task-list--small-titles task-list--with-lines task-list--with-numbers task-list--no-indent task-list--with-badges task-list--blue-badges" style="margin-left: -35px">
              <li {% if data.step == '1' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1</span> Save a search {% if data.step and data.step > '1' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                </h2>
                <p class="task-list-description">Save your search terms so you can export your results later. You must <a href="#">buy fairly</a> and assess all the services that you find. Do not combine the results of more than one search.</p>
                {% if data.step and data.step != '0' %}
                <p class="search-summary task-list-description task-list-description--toolkit task-list-description--small">
                  <span class="search-summary-count">6</span> results found in <em>Cloud software</em> in the category <em>Blogging</em>, deployable to a <em>public cloud</em>, where the supplier is <em>not a reseller</em>, where user support is available through <em>web chat</em>, where users can access the service through an <em>API</em>, where usage metrics are provided through <em>API access</em>, with staff security clearance that <em>conforms to BS7858:2012</em> and with a <em>free trial</em>
                </p>
                {% endif %}
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '1' %}
                      <a class="task-name button" href="?step=2" style="margin-top: 10px">
                        Edit your search and view results
                      </a>
                    {% endif %}
                    {% if data.step == '2' %}
                      <a class="task-name" href="?step=2" style="margin-top: 10px; margin-bottom: 10px;">
                        Edit your search and view results
                      </a>
                    {% endif %}
                    {% if data.step == '0' or not data.step %}
                      <a class="task-name button" href="/ur/choose-category" style="margin-top: 10px;">
                        Start a new search
                      </a><hr style="background: transparent;display:block;width:100%;margin:0;"></hr>
                      <a class="task-name" href="?step=1" style="margin-top: 5px; pointer-events: none;">
                        See a list of your saved searches
                      </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '2' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">2</span> Export your results
                  {% if data.step == '3' or data.step == '4' or data.step == '5' or data.step == '6' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                  {% if data.step == '1' %}
                    <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                  {% endif %}
                </h2>
                <p class="task-list-description">Export a list of the services you’ve found. Download suppliers’ service descriptions and contact details to help you assess services. Keep a copy for your records.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '2' %}
                    <a class="task-name button" href="/ur/before-you-download">
                      Export your results
                    </a>
                    {% endif %}
                    {% if data.step =='1' %}
                      <p class="browse-list-item-status-angry"><strong>You have too many services to assess. Refine your search until you have no more than 30 results.</strong></p>
                    {% endif %}
                    {% if data.step == '3' or data.step == '4' or data.step == '5' or data.step == '6' %}
                    <a class="task-name" href="/ur/download?flash=0" style="">
                      Download your results again
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '3' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">3</span> Start assessing services
                  {% if data.step and data.step > '3' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% elseif data.step < '3' and data.noCurrentStep != '1' and data.step != '0' %}
                      <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                    {% endif %}
                </h2>
                <p class="task-list-description">Follow the guidance for <a href="#">assessing services</a>. Choose the one that best meets your budget and requirements. Do not hold a competition to decide the winner. You can <a href="#">contact suppliers to ask questions</a>, but you must not negotiate with them.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '3' and data.noCurrentStep != '1' %}
                    <a class="task-name button" href="/ur?step=4&review_flash=1">
                      I have read and understood how to assess services
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '4' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">4</span> Award a contract
                  {% if data.step and data.step > '4' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% elseif data.step < '4' and data.noCurrentStep != '1' and data.step != '0' %}
                      <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                    {% endif %}
                </h2>
                <p class="task-list-description">Follow the guidance for <a href="#">awarding a contract</a>. Check if you need to <a href="#">publish the details on Contracts Finder</a>. After you award your contract, tell us the outcome. We collect this information to help us improve the Digital Marketplace.</p>
                {% if data.step == '5' and data.not_awarded != '1' %}
                <p class="search-summary task-list-description task-list-description--toolkit">
                    Contract awarded to Gaia Moodle Platform.
                </p>
                {% elseif data.step == '5' and data.not_awarded == '1' %}
                <p class="search-summary task-list-description task-list-description--toolkit">
                    No suitable services found
                </p>
                {% endif %}
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '4' and data.noCurrentStep != '1' %}
                        <a class="task-name button" href="/ur/did-you-award">
                          Tell us the outcome
                        </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '5' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">5</span> Complete the Customer Benefits Record{% if data.step and data.step < '5' and data.noCurrentStep != '1' and data.step != '0' %}
                    <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                  {% endif %}
                  {% if data.step == '6' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                </h2>
                <p class="task-list-description">Fill in the <a href="#">Customer Benefits Record form</a> and email it to the Crown Commercial Service at <a href="#">gcloud-benefits@crowncommercial.gov.uk</a>. They will contact you if they find any issues with the supplier.</p>
                
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                  {% if data.step == '5' or data.step == '3' and data.noCurrentStep == '1' or data.step == '4' and data.noCurrentStep == '1' %}
                    
                  {% endif %}
                  </li>
                </ul>
              </li>
            </ol>
        </div>
        {% if data.step != '0' %}
        <div class="column-one-third dmspeak">
          <ul style="padding-top:10px;border-top: 4px solid #005ea5;margin-top:30px">
            <li style="margin-bottom: -10px;">
              {% if data.step < 5 %}
              <p>You’re on step {{ data.step }} of 5: <br/><span class="bold">
                {% if data.step == '1' %}
                  Save a search
                {% elseif data.step == '2' %}
                  Export your results
                {% elseif data.step == '3' %}
                  Start assessing services
                {% elseif data.step == '4' %}
                  Award a contract
                {% endif %}
              </span>
              </p>
              {% endif %}
              <p>
              {% if data.step == '5' and data.not_awarded != '1' %}
                Contract awarded to Gaia Moodle Platform
              {% elseif data.step == '5' and data.not_awarded == '1' %}
                No suitable services found
              {% endif %}
              </p>
            <li>
              <a href="/archive" style="pointer-events: none">Archive this search</a>
            </li>
          </ul>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}
