{% extends "layout.html" %}
{% set logged_in = true %}
{% set previousStep = '/ur?step=3' %}
{% block page_title %}
  Download your results – Digital Marketplace
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" media="screen" href="/public/stylesheets/dm-styles.css" />
<style>
 a, button, input[type="submit"] {
 	pointer-events: none !important;
 }
</style>

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        <li><a href="/">Your account</a></li>
        <li><a href="/">Your saved searches</a></li>
        <li><a class="can-click" href="{{ previousStep }}">Buying some cloud software</a></li>
        <li>Download your results</li>
    </ol>
  </nav>
</div>

<div id="wrapper">
   <main id="content" role="main">
         
     

         
    <div class="single-question-page save-search-page">
      <div class="grid-row">
        <div class="column-one-whole">
            
        </div>
      </div>
      <div class="grid-row">
        {% if data.flash == 1 %}
        <div class="column-full">
          <div class="banner-success-without-action">
              <p class="banner-message">
                Results exported. Your files are ready to download.
              </p>
          </div>
        </div>
        {% endif %}
        <div class="column-two-thirds">
          <header class="page-heading page-heading-without-breadcrumb">
            <h1>
              Download your results
            </h1>
          </header>
        </div>
      </div>
      <form method="post" action="{{ previousStep }}">
        <div class="grid-row">
          <div class="column-two-thirds">
           <p>Download a list of the services you've found to help you track and record your decision-making.</p>
           <p style="margin-top:10px">The files include suppliers’ service descriptions and contact information. Keep a copy for your records.</p>
           
           <ul class="document-list" style="margin-top:20px;margin-bottom:-20px">
             <li class="document-list-item">
                 <a href="/public/csv.csv" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Download search results format" data-analytics-label="CSV" class="document-link-with-icon can-click">
                   <span class="document-icon">CSV<span> document:</span></span>
                   Download search results as comma-separated values
                 </a>
               </li>
               <li class="document-list-item">
                 <a href="/public/ods.ods" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Download search results format" data-analytics-label="ODS" class="document-link-with-icon can-click">
                   <span class="document-icon">ODS<span> document:</span></span>
                   Download search results as a spreadsheet
                 </a>
               </li>
             
               
             
           </ul>

           <p class="" style="    border-left: 5px solid #BFC1C3;
    color: inherit;
    padding-bottom: 2px;
    font-weight: normal;
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 30px;margin-top:15px;
    line-height: 1.25;padding-top:4px;">
                    Results exported on Monday 4 June 2018 at 12:01pm BST
                </p>

           <p style="margin-top:0">You can download your results again at any time.</p>


            <p class="return-to-overview" style>
              <a href="{{ previousStep }}" class="can-click ">Return to your task list</a>
            </p>
          </div>
        </div>
      </form>
    </div>

       </main>
  </div>
<div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve the Digital Marketplace</h2>
      <form autocomplete="off" action="/feedback" method="post">
        <input type="hidden" name="csrf_token" value="IjQzN2Y4OGZmMGI2NjJkZjg3Yzk1MTQ0MzlmZDkzMzQ4Y2JkNDdmYjIi.Dc20Pg.1_oZpT2bmlYU52mWvefuSbKPelQ">
        <input id="uri" name="uri" type="hidden" value="https://www.digitalmarketplace.service.gov.uk/g-cloud/search?q=">

        <p>Please do not include personal details or sensitive information about your organisation or department.</p>

        <label for="what_doing">What were you doing?</label>
        <input autocomplete="off" id="what_doing" name="what_doing" type="text">

        <label for="what_happened">What happened?</label>
        <input autocomplete="off" id="what_happened" name="what_happened" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
