{% extends "layout.html" %}

{% block page_title %}
  Buying cloud services on the Digital Marketplace
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">
	    	<h1 class="heading-xlarge">Buying cloud services on the Digital Marketplace</h1>
	    	<p>Use the Digital Marketplace to search for cloud services, keep a record of your search terms and download your search results.</p>

	    	<h2 class="heading-large" style="    border-top: 1px solid #bfc1c3;padding-top:50px">Before you start</h2>

	    	<h3 class="heading-medium">Get approval to buy</h3>

	    	<p>If you’re buying for central government, you should <a href="https://www.gov.uk/service-manual/agile-delivery/spend-controls-check-if-you-need-approval-to-spend-money-on-a-service">check if you need approval to spend money on a service first</a>.</p>

	    	<h3 class="heading-medium" id="requirements">Write a list of your requirements</h3>

	    	<p>Work with someone who will use the service, buying specialists and technical experts to prepare a list of ‘must-haves’ and ‘wants’. These requirements will help you decide which search category, keywords and filters to use.</p>

	    	<p>When writing your requirements you should consider the:</p>

	    	<ul class="list-bullet">
	    	<li>funds you have available to buy the service</li>
	    	<li>technical and procurement requirements of the project</li>
	    	<li>criteria on which your choice will be based</li>
	    	</ul>

	    	<h4 class="heading-small">Help writing requirements</h4>

	    	<p>You can <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/search?q=">search for cloud hosting, software and support</a> on the Digital Marketplace to learn more about the types of service that are available.</p>

	    	<p>You can also <a href="https://www.gov.uk/guidance/talking-to-suppliers-before-you-buy-digital-marketplace-services">talk to suppliers before you start</a> to help you refine your requirements.</p>

	    	<p>Read the government service manual guidance on <a href="https://www.gov.uk/service-manual/making-software/choosing-technology.html">choosing technology</a>.</p>

	    	<h4 class="heading-small">Understanding security standards</h4>

	    	<p>Use the government’s <a href="https://www.ncsc.gov.uk/guidance/implementing-cloud-security-principles">Cloud Security Principles</a> to help you understand how secure suppliers’ services are.</p>

	    	<p>You should also:</p>

	    	<ul class="list-bullet">
	    	<li>involve people with risk management and technical security expertise in the buying process</li>
	    	<li>make sure a service meets your security requirements before you sign a contract</li>
	    	</ul>

	    	<h3 class="heading-large">How to buy</h2>

	    	<ol class="list-number">
	    	<li><a href="#search-for-services">Search for services</a></li>
	    	<li><a href="#save-and-edit">Save and edit your search terms</a></li>
	    	<li><a href="#download">Download your search results</a></li>
	    	<li><a href="#review">Review services</a></li>
	    	<li><a href="#award">Award a contract</a></li>
	    	<li><a href="#tell-us">Tell us the outcome</a></li>
	    	</ol>

	    	<h3 id="search-for-services" class="lots-of-space heading-medium">1. Search for services</h3>

	    	<p>Choose a category, then search for services using keywords and filters.
	    	Your search terms should should be based on your requirements.</p>

	    	<p>You must assess all of the services in your search results. If you have too many search results, use filters or edit your search terms to refine them.</p>

	    	<p>You cannot combine the results of multiple searches to create a single shortlist, so make sure your search terms cover all of your ‘wants’ and ‘needs’.</p>

	    	<h3 id="save-and-edit" class="lots-of-space heading-medium">2. Save and edit your search terms</h3>

	    	<p>When you are happy with your search results, save a new set of search terms and give them a name to keep a record of the category, keywords and filters you used.</p>

	    	<p>You can update an existing saved search at any time. If you still have too many results, add filters to refine the results of your search.</p>

	    	<p>When you update a saved search it will only keep the most recent category, keywords and filters you used.</p>

	    	<h3 id="download" class="lots-of-space heading-medium">3. Download your search results</h3>

	    	<p>Download a spreadsheet of the services you’ve found to help you track and record your decision-making. You should only do this when you have finished searching for services.</p>

	    	<p>You cannot edit your search terms once you’ve downloaded the spreadsheet.</p>

	    	<p>The spreadsheet includes:</p>

	    	<ul class="list-bullet">
	    	<li>service names, descriptions and prices</li>
	    	<li>links to detailed service description pages on the Digital Marketplace</li>
	    	<li>supplier names and contact details</li>
	    	<li>your search terms</li>
	    	</ul>

	    	<h3 id="review" class="lots-of-space heading-medium">4. Review services</h3>

	    	<p>Spend some time going through the service descriptions and supplier terms and conditions to find the service that best meets your needs based on both requirements and budget.</p>

	    	<p>Each service description includes a:</p>

	    	<ul class="list-bullet">
	    	<li>terms and conditions document</li>
	    	<li>pricing document</li>
	    	</ul>

	    	<p>They may also include a service definition document.</p>

	    	<h4 class="heading-small">Pricing</h4>

	    	<p>The price shown on the service description page is the cost of the most common configuration of the service. Pricing is normally volume-based, so you should always look at the supplier’s pricing document to work out the actual price of what you’re going to buy.</p>

	    	<h4 class="heading-small" id="questions">What to do if you have a question for the suppliers</h4>

	    	<p>You can speak to suppliers to ask them to explain their service description, terms and conditions, pricing or service definition documents.</p>

	    	<p>You must not negotiate with suppliers about the details of their service. If it isn’t in their service description, you can’t ask a question about it.</p>

	    	<p>You should keep a record of any conversations you have with suppliers and keep these with your award report.</p>

	    	<h4 class="heading-small">Single service</h4>

	    	<p>If only one service meets your requirements, you can award the contract to them without doing anything else.</p>

	    	<h4 class="heading-small">Multiple services</h4>

	    	<p>There will usually be a number of services in your search results. You must choose the service with the most economically advantageous tender (MEAT).</p>

	    	<p>For a MEAT-based assessment, you should consider:</p>

	    	<ul class="list-bullet">
	    	<li>Whole life cost – cost effectiveness, price and running costs of the service</li>
	    	<li>Technical merit and functional fit – coverage, network capacity and performance as specified in relevant service levels</li>
	    	<li>After-sales service management – helpdesk, account management function and assurance of supply of a range of services</li>
	    	<li>Non-functional characteristics</li>
	    	</ul>

	    	<p>The MEAT option will normally be obvious, but you might need to:</p>

	    	<ul class="list-bullet">
	    	<li>look at combinations of different suppliers</li>
	    	<li>get specific information about volumes</li>
	    	</ul>

	    	<p>Your assessment of suppliers should always be as fair and as transparent as possible. The final choice should be based on best fit rather than ruling out suppliers that don’t meet either your current contract or an ideal set of terms. You shouldn’t unfairly exclude any services without referring back to your project requirements.</p>

	    	<p>You can use the spreadsheet of your search results to help record your decisions.</p>

	    	<h4 class="heading-small">No services</h4>

	    	<p>If none of the services in your search results meet your requirements, you’ll need to start a new search.</p>

	    	<h3 class="lots-of-space heading-medium" id="award">5. Award a contract</h3>

	    	<p>The buyer and supplier must both sign a copy of the contract before the service can be used.</p>

	    	<p>G-Cloud contracts last for 24 months. You can extend a contract by 1 year and then a further year. If you’re buying for central government, you should check if you need permission to extend a contract first.</p>

	    	<p>If there’s any contradiction between the contract terms and conditions and the framework terms and conditions, the framework terms will take precedence. In a contract, the terms and conditions and prices are all agreed when you sign the framework agreement.</p>

	    	<p>Read:</p>

	    	<ul class="list-bullet">
	    	<li>how to award a contract when you buy services</li>
	    	<li>how the terms and conditions work</li>
	    	<li>the G-Cloud templates and legal documents</li>
	    	</ul>

	    	<h4 class="heading-small" id="publish">Publish the contract</h4>

	    	<p>Contracts worth over £10,000 must be published on Contracts Finder.</p>

	    	<p>You must publish details of all completed contracts on Contracts Finder.</p>

	    	<p>You’ll need to sign in to your account first. If you don’t have an account, you’ll need to register as a buyer on Contracts Finder.</p>

	    	<h4 class="heading-small" id="complete-cbr">Complete the Customer Benefits Record form</h4>

	    	<p>CCS works with departments and organisations across the public sector to improve service delivery quality and ensure every commercial relationship provides value for money. That means it has to record savings and monitor the ongoing performance of the G-Cloud frameworks.</p>

	    	<p>Fill in the Crown Commercial Service’s G-Cloud 9 Customer Benefits Record form.</p>

	    	<p>Email a copy to gcloud-benefits@crowncommercial.gov.uk.</p>

	    	<h3  class="lots-of-space heading-medium" id="tell-us">6. Tell us the outcome</h3>

	    	<p>Whether or not you award a contract, you should tell us the outcome of your saved search. </p>

	    	<p>Knowing the outcome of saved searches helps us to improve the Digital Marketplace.</p>
	    </div>
	</div>
</main>

{% endblock %}
