{% extends "layout.html" %}

{% block page_title %}
  All prototypes
{% endblock %}

{% block content %}


<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-large" style="margin-bottom: 20px">
	        Task list for finding cloud hosting, software and support
	      </h1>
	      <h2 class="heading-medium">User testing</h2>
	      <ul class="list-bullet">
	       <li>
	       	<p><a href="/ur?step=0"><strong style="font-weight:600">1</strong></a><br/>
	       	The version we're taking to user testing</p>
	       </li>
	       <li>
	       	<p><a href="/ur?step=0"><strong style="font-weight:600">2</strong></a><br/>
	       	Also in user testing – hiding contact details behind log in</p>
	       </li>
	      </ul>
	      <h2 class="heading-medium">Pages and flows</h2>
	      <ul class="list-bullet">
	       <li>
	       	<p><a href="/choose-category">Choose category</a></p>
	       </li>
	       <li>
	       	<p><a href="/before-you-download-alt">Before you download</a></p>
	       </li>
	       <li>
	       	<p><a href="/archive">Archive your search terms</a></p>
	       </li>
	       <li>
	       	<p><a href="/archived-searches">Archived search terms</a></p>
	       </li>
	       <li>
	       	<p><a href="/saved-search-terms">Saved search terms</a></p>
	       </li>
	       <li>
	       	<p><a href="/summary-7?step=2">Task list with inline badges</a></p>
	       </li>
	       <li>
	       	<p><a href="/summary-8?step=2">Task list with block badges</a></p>
	       </li>
	       <li>
	       	<p><a href="/g10">Saved search page with messages about framework closing</a></p>
	       </li>
	      </ul>
	    </div>
	</div>
</main>

{% endblock %}
