{% extends "layout.html" %}

{% block page_title %}
  All prototypes
{% endblock %}

{% block content %}


<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-large" style="margin-bottom: 20px">
	        Task list for finding cloud hosting, software and support
	      </h1>
	      <h2 class="heading-medium">Flows</h2>
	      <ul class="list-bullet">
	       <li>
	       	<p><a href="/summary?step=0"><strong style="font-weight:600">1</strong></a></p>
	       </li>
	      </ul>
	      <h2 class="heading-medium">Pages and flows</h2>
	      <ul class="list-bullet">
	       <li>
	      	<p><a href="/summary?step=0">Start page (1)</a><br/>
	      	Not collapsed</p>
	       </li>
	       <li>
	       	<p><a href="/summary-2?step=0">Start page (2)</a><br/>
	       	Collapsed with expand link inline</p>
	       </li>
	       <li>
	      	<p><a href="/summary-3?step=0">Start page (3)</a><br/>
	      	Collapsed with expand link on new line</p>
	       </li>
	        <li>
	       	<p><a href="/summary-4?step=2">Saved search page (4)</a><br/>
	       	Archive mock-up</p>
	        </li>
	       <li>
	       	<p><a href="/choose-category">Choose category</a></p>
	       </li>
	       <li>
	       	<p><a href="/before-you-download-alt">Before you download</a></p>
	       </li>
	       <li>
	       	<p><a href="/archive">Archive your search terms</a></p>
	       </li>
	       <li>
	       	<p><a href="/archived-searches">Archived search terms</a></p>
	       </li>
	       <li>
	       	<p><a href="/saved-search-terms">Saved search terms</a></p>
	       </li>
	      </ul>
	    </div>
	</div>
</main>

{% endblock %}
