{% extends "layout.html" %}

{% block page_title %}
  Search results
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds page-heading">
	      <h1 class="heading-xlarge" style="margin-bottom: 20px">
	        Search results
	      </h1>
	      <p class="search-summary">
            <span class="search-summary-count">73</span> results found in <em>Cloud software</em> in the category <em>Electronic document and records management (EDRM)</em>, where the supplier is a <em>reseller providing extra features and support</em> and where user support is available through <em>web chat</em>
          </p>
          <div class="button-save-wrapper">
            
            <div class="save-summary-text ">
            Refine your search to less than a 100 results to save it.
            </div>
          </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds page-heading">
          <h1 class="heading-xlarge" style="margin-bottom: 20px">
            Search results
          </h1>
          <p class="search-summary">
            <span class="search-summary-count">73</span> results found in <em>Cloud software</em> in the category <em>Electronic document and records management (EDRM)</em>, where the supplier is a <em>reseller providing extra features and support</em> and where user support is available through <em>web chat</em>
          </p>
          <div class="button-save-wrapper">
            <div class="save-button ">
              <button id="save-search" class="button button--submit" role="button" type="submit" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Save search" data-analytics-label="19248">
                Save search
              </button>
            </div>
            <div class="save-summary-text">
              Save details of your search and download your search results.
            </div>
          </div>
	    </div>
	</div>
    <div class="grid-row">
        <div class="column-two-thirds page-heading">
          <h1 class="heading-xlarge" style="margin-bottom: 20px">
            Search results
          </h1>
          <p class="search-summary">
            <span class="search-summary-count">73</span> results found in <em>Cloud software</em> in the category <em>Electronic document and records management (EDRM)</em>, where the supplier is a <em>reseller providing extra features and support</em> and where user support is available through <em>web chat</em>
          </p>
          <div class="button-save-wrapper">
            <div class="save-button ">
              <button id="save-search" class="button button--submit" role="button" type="submit" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Save search" data-analytics-label="19248">
                Save results
              </button>
            </div>
            <div class="save-summary-text">
              Save your search results and evaluate.
            </div>
          </div>
        </div>
    </div>
</main>

{% endblock %}
