{% extends "layout.html" %}

{% block page_title %}
  Your account (18)
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">

	<div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-large" style="margin-bottom: 20px">
	        Find cloud hosting, software and support
	      </h1>
	      <!-- <a href="#" class="button">Search for services</a> -->
	    </div>
	</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <ol class="task-list task-list--lowercase task-list--transparent task-list--start-page task-list--short-margin task-list--small-titles task-list--with-lines" style="margin-left: -35px">
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1. </span> Save a search for cloud services
                </h2>
                <p class="task-list-description">Choose a category, then search for services using keywords and filters. Save your search terms so you can edit them later. Your search terms should should be based on <a href="#">your requirements</a>.</p>
                <ul class="task-list-items task-list-items--single-task">
                	<li class="task-list-item">
                	  <a class="task-name button" href="#">
                	    Search for cloud services
                	  </a>
                    <a class="task-name" href="#" style="margin-top: 5px;">
                      Log in to your account to see a list of Your saved searches
                    </a>
                	</li>
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">2. </span> Download your search results
                </h2>
                <p class="task-list-description">When you’ve finished editing your search terms, download a spreadsheet of your results to help you review or compare services.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <!-- <li class="task-list-item"> -->
                    <!-- <a class="task-name" href="#"> -->
                      <!-- Download results -->
                    <!-- </a> -->
                    <!-- <a href="#" class="button task-completed">Download results</a> -->
                  <!-- </li> -->
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">4. </span> Review services
                </h2>
                <p class="task-list-description"><a href="#">Review and compare services</a> to find the one that best meets your budget and requirements. <a href="#">You can contact the suppliers to ask questions</a>, but you must not negotiate with them about the details of their service.</p>
                <ul class="task-list-items">
                </ul>
              </li>
              <li>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">5. </span> Award a contract
                </h2>
                <p class="task-list-description">When you have chosen the winning service, follow the guidance on <a href="#">how to award a contract</a>. Check whether you need to <a href="#">publish the contract</a>. You also need to <a href="#">complete the Customer Benefits Record form</a>.</p>
                <p class="task-list-description"> Tell us if you bought a service or not. Knowing the outcome of your saved search helps us to improve the Digital Marketplace.</p>
                <ul class="task-list-items">
                  
                </ul>
              </li>
            </ol>
        </div>
    </div>
</main>

{% endblock %}
