{% extends "layout.html" %}

{% block page_title %}
  Search summary (1)
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
        {% if data.step == '0' %}
          <li>Find cloud hosting, software and support</li>
        {% else %}
          <li><a href="/" style="pointer-events:none">Your account</a></li>
          <li><a href="/" style="pointer-events:none">Your saved searches</a></li>
        {% endif %}
    </ol>
  </nav>
</div>

<style>
.task-list-description a {
  pointer-events: none;
}
</style>

<main id="content" role="main">

  <div class="grid-row">
      {% if data.flash == 1 and data.step == 1 %}
      <div class="column-full">
        <div class="banner-success-without-action">
            <p class="banner-message">
              Search terms saved.
            </p>
        </div>  
      </div>
      {% endif %}
      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom: 20px">
          {% if data.step == '0' %}
            Find cloud hosting, software and support
          {% else %}
            <span class="heading-secondary">Lewisham Council</span>
            Buying some cloud software
          {% endif %}
        </h1>
        <!-- <a href="#" class="button">Search for services</a> -->
      </div>
  </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <ol class="task-list task-list--lowercase task-list--transparent task-list--start-page task-list--short-margin task-list--small-titles task-list--with-lines task-list--with-numbers task-list--no-indent task-list--with-badges task-list--blue-badges" style="margin-left: -35px">
              <li {% if data.step == '1' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">1</span> Save a search {% if data.step and data.step > '1' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                </h2>
                <p class="task-list-description">Choose search terms based on your <a href="/guidance#requirements">requirements</a>. Save your search to keep a record of the category, keywords and filters you used. You must assess all the services that meet your search terms.</p>
                {% if data.step and data.step != '0' %}
                <p class="search-summary task-list-description task-list-description--toolkit task-list-description--small">
                  <span class="search-summary-count">{% if data.step == '1' %}80{% else %}6{% endif %}</span> services found in <strong>Software as a Service</strong>, under the categories <strong>Accounting and finance</strong> and <strong>Collaboration</strong>, with a minimum contract period of an <strong>Hour</strong> or a <strong>Day</strong>
                </p>
                {% endif %}
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '1' %}
                      <a class="task-name button" href="?step=2" style="margin-top: 10px">
                        Edit search terms and view results
                      </a>
                    {% endif %}
                    {% if data.step == '2' %}
                      <a class="task-name" href="?step=2" style="margin-top: 10px; margin-bottom: 10px;">
                        Edit search terms and view results
                      </a>
                    {% endif %}
                    {% if data.step == '0' or not data.step %}
                      <a class="task-name button" href="/search-1" style="margin-top: 10px;">
                        Start a new search
                      </a><hr style="background: transparent;display:block;width:100%;margin:0;"></hr>
                      <a class="task-name" href="?step=1" style="margin-top: 5px; pointer-events: none;">
                        See a list of Your saved searches
                      </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '2' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">2</span> Download your results
                  {% if data.step == '3' or data.step == '4' or data.step == '5' or data.step == '6' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                  {% if data.step == '1' %}
                    <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                  {% endif %}
                </h2>
                <p class="task-list-description">Download a copy of your results when you’re ready to assess the services you've found. Add them to your audit trail or use them to help you review services.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '2' %}
                    <a class="task-name button" href="/before-you-download-1">
                      Download your results
                    </a>
                    {% endif %}
                    {% if data.step =='1' %}
                      <p class="browse-list-item-status-angry"><strong>You have too many services to review. Refine your search terms until you have fewer than 30 results.</strong></p>
                    {% endif %}
                    {% if data.step == '3' or data.step == '4' or data.step == '5' or data.step == '6' %}
                    <a class="task-name" href="/download-1?flash=0" style="">
                      Download your results again
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '3' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">3</span> Review services
                  {% if data.step and data.step > '3' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% elseif data.step < '3' and data.noCurrentStep != '1'%}
                      <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                    {% endif %}
                </h2>
                <p class="task-list-description"><a href="#">Compare the services you found</a> to find the one that best meets your budget and requirements. <a href="#">You can contact the suppliers to ask questions</a>, but you must not negotiate with them about the details of their service.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '3' and data.noCurrentStep != '1' %}
                    <a class="task-name button" href="?step=4">
                      I have reviewed my search results
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '4' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">4</span> Award a contract
                  {% if data.step and data.step > '4' and data.noCurrentStep != '1' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% elseif data.step < '4' and data.noCurrentStep != '1'%}
                      <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                    {% endif %}
                </h2>
                <p class="task-list-description">When you have chosen the winning service, follow the guidance on <a href="#">how to award a contract</a>. Check whether you need to <a href="#">publish the contract on Contracts Finder</a>.</p>
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                    {% if data.step == '4' and data.noCurrentStep != '1' %}
                    <a class="task-name button" href="?step=5">
                      I have awarded the contract
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </li>
              <li {% if data.step == '5' and data.noCurrentStep != '1' %}class="current-step"{% endif %}>
                <h2 class="task-list-section">
                  <span class="task-list-section-number">5</span> Declare the outcome{% if data.step and data.step < '5' and data.noCurrentStep != '1' %}
                    <strong class="task-completed task-cant-start task-completed--block" id="company-information-completed">Can't start yet</strong>
                  {% endif %}
                  {% if data.step == '6' %}<strong class="task-completed task-completed--block" id="company-information-completed">Completed</strong>{% endif %}
                </h2>
                <p class="task-list-description">Tell us if you bought a service or not. Knowing the outcome of your saved search helps us to improve the Digital Marketplace. You also need to <a href="#">complete the Customer Benefits Record form</a>.</p>
                {% if data.step == '6' %}
                <p class="search-summary task-list-description task-list-description--toolkit">
                    Contract awarded to Amazon Glacier
                </p>
                {% endif %}
                <ul class="task-list-items task-list-items--single-task">
                  <li class="task-list-item">
                  {% if data.step == '5' or data.step == '3' and data.noCurrentStep == '1' or data.step == '4' and data.noCurrentStep == '1' %}
                    <a class="task-name button" href="?step=0">
                      Declare the outcome
                    </a>
                  {% endif %}
                  </li>
                </ul>
              </li>
            </ol>
        </div>
        {% if data.step != '0' %}
        <div class="column-one-third dmspeak">
          <ul style="padding-top:10px;border-top: 4px solid #005ea5;margin-top:30px">
            <li style="margin-bottom: -10px;">
              <p>You are on step 3 out of 5: <br/><span class="bold">Review services</span></p>
            <li>
              <a href="/archive">Archive this search</a>
            </li>
          </ul>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}
